// Here you can add other styles
.stockmarttextcss{
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-link,.btn-link:hover {
    font-weight: 400;
    color: #3399ff;
    text-decoration: none;
}
.m-t-28{ 
    margin-top:28px;
}


    .navbar-nav > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header-social .list-inline > li{
        padding-right: 0px
    }
    .slider-content {
        width: 60%;
        margin-left: 20%;
       
        margin-top: 25%;
        position: absolute;
        
    }
    .slider-content-first {
        height: 100px!important; 
        margin-left: 0px;
        position: absolute;
    }
    .slider-area{
        height: 540px;
      
    }
    #bg-slider .item img {
        height: 540px;
    }
    .tab-content ul li {
        height: 160px;
        width: 145px;
    }
    .tab-content ul li a img{
        width: 100%;
        height: 100%;
    }
    .overlay > h3 {
        font-size: 15px;
        left: 10px;
    }

    .client-text {
        margin-left: 5px; 
    }
    .testimonial .item .client-face {
        right: 29px;
        top: 125px;
    }
    .client-text p {
        line-height: 22px;
        padding: 0px 0px 0.35em;
        font-size: 14px;
    }
    .client-text {
        border-radius: 2px;
        padding: 15px 15px;
        margin: 15px;
        border: 1px solid #ECE9E9;
        background-color: #F5F5F5;
    }
    .proerty-th-list .col-md-4 .item-thumb img { 
        height: 285px; 
        width: 100%;
        padding-right: 14px;
    }
    
    .proerty-th-list p { 
        padding-top: 10px; 
    }
    .search-form {
        background-color: #fff;
        border-radius: 5px;
        padding: 20px 0;
        border: 1px solid #E6E6E6;
        box-sizing: border-box;
        box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
        position: relative;
        z-index: 9;
    }
    .triangle_down {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #f31111;
        font-size: 0;
        line-height: 0;
        float: left;
      }
      .triangle_top {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #0a9b11;
        font-size: 0;
        line-height: 0;
        float: left;
      }
      .tv-lightweight-charts {
        height: 280px!important;
      }
      .chart-container {
        flex: 1;
      }
      .search-cu-button {
        margin-top:32px!important
      }
      .errors {
        color: #e71616!important;
      }
 
